body{
  overflow-y: scroll;
  overflow-x: hidden;
}

:root,body,html {
  background-color: white;
  box-sizing: border-box;
  display: block;
}
div, h1, h2, h3, h4, h5, header, html, i 
,image, label, li, ul , p ,nav , small , span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  font-family: Google Sans,Helvetica Neue,sans-serif;
  margin: 0;


  



  
}



::-webkit-scrollbar{
  width: 0.5em;
}

::-webkit-scrollbar-track{
  background:inherit;
}

::-webkit-scrollbar-thumb{
  background:#c9d1d9;
  border-radius: 100vw;
}