body{
  overflow-y: scroll;


  overflow-x:hidden !important;
}

:root,body,html {
  
  box-sizing: border-box;
  display: block;
 
}
div, h1, h2, h3, h4, h5, header, html, i 
,image, label, li, ul , p ,nav , small , span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  
  margin: 0;
  


  



  
}




